<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>T1348647853363</key>
	<array>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>因大桥在7月的洪水中被冲垮；村民为抄近路涉水过河。</string>
			<key>docid</key>
			<string>98QPCNFL00011229</string>
			<key>hasHead</key>
			<integer>1</integer>
			<key>hasImg</key>
			<integer>1</integer>
			<key>imgsrc</key>
			<string>http://img2.cache.netease.com/3g/2013/9/15/201309151607534066d.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 16:03:25</string>
			<key>order</key>
			<integer>1</integer>
			<key>priority</key>
			<integer>99</integer>
			<key>ptime</key>
			<string>2013-09-15 14:30:26</string>
			<key>replyCount</key>
			<integer>1318</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>村民骑车过瀑布般拦河坝 画面惊心</string>
			<key>url</key>
			<string>http://3g.163.com/news/13/0915/14/98QPCNFL00011229.html</string>
			<key>url_3w</key>
			<string>http://news.163.com/13/0915/14/98QPCNFL00011229.html</string>
		</dict>
		<dict>
			<key>TAG</key>
			<string>视频</string>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>喜大普奔，明起，你将进入混乱工作模式。　</string>
			<key>docid</key>
			<string>98R1L19C00964JJM</string>
			<key>imgsrc</key>
			<string>http://img2.cache.netease.com/3g/2013/9/15/201309151720199d4f9.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 17:54:39</string>
			<key>priority</key>
			<integer>90</integer>
			<key>ptime</key>
			<string>2013-09-15 16:54:47</string>
			<key>replyCount</key>
			<integer>2509</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>29分钟</string>
			<key>title</key>
			<string>每日轻松一刻</string>
			<key>url</key>
			<string>http://3g.163.com/ntes/13/0915/16/98R1L19C00964JJM.html</string>
			<key>url_3w</key>
			<string>http://help.3g.163.com/13/0915/16/98R1L19C00964JJM.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>客车核载24人，紧急救出20人，其余人员正在全力施救。</string>
			<key>docid</key>
			<string>98QUTAU300014JB6</string>
			<key>imgsrc</key>
			<string>http://img1.cache.netease.com/3g/2013/9/15/20130915161558482bb.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 18:16:30</string>
			<key>priority</key>
			<integer>89</integer>
			<key>ptime</key>
			<string>2013-09-15 16:02:00</string>
			<key>replyCount</key>
			<integer>2537</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>四川客车坠桥事故已致8死12伤</string>
			<key>url</key>
			<string>http://3g.163.com/news/13/0915/16/98QUTAU300014JB6.html</string>
			<key>url_3w</key>
			<string>http://news.163.com/13/0915/16/98QUTAU300014JB6.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>包机在首都机场降落，含19名儿童及1名婴儿。</string>
			<key>docid</key>
			<string>98QRNLKI00014JB6</string>
			<key>imgsrc</key>
			<string>http://img6.cache.netease.com/3g/2013/9/15/2013091510194297f6c.png</string>
			<key>lmodify</key>
			<string>2013-09-15 17:15:33</string>
			<key>priority</key>
			<integer>82</integer>
			<key>ptime</key>
			<string>2013-09-15 15:03:00</string>
			<key>replyCount</key>
			<integer>307</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>海娜号滞留旅客首批283人回国</string>
			<key>url</key>
			<string>http://3g.163.com/news/13/0915/15/98QRNLKI00014JB6.html</string>
			<key>url_3w</key>
			<string>http://news.163.com/13/0915/15/98QRNLKI00014JB6.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>海航此前提出每人1500元的赔偿引部分乘客不满。</string>
			<key>docid</key>
			<string>98QREPPV0001124J</string>
			<key>imgsrc</key>
			<string>http://img2.cache.netease.com/3g/2013/9/15/20130915152551bbcc9.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 18:56:02</string>
			<key>priority</key>
			<integer>81</integer>
			<key>ptime</key>
			<string>2013-09-15 15:06:31</string>
			<key>replyCount</key>
			<integer>397</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>最新赔付方案:现金旅行二选一</string>
			<key>url</key>
			<string>http://3g.163.com/news/13/0915/15/98QREPPV0001124J.html</string>
			<key>url_3w</key>
			<string>http://news.163.com/13/0915/15/98QREPPV0001124J.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>其税后年薪将为1700万欧元，超梅西成世界第一高薪。</string>
			<key>docid</key>
			<string>98R3CO6P00051C8V</string>
			<key>imgsrc</key>
			<string>http://img2.cache.netease.com/3g/2013/9/15/20130915175327d1e6e.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 17:50:16</string>
			<key>priority</key>
			<integer>80</integer>
			<key>ptime</key>
			<string>2013-09-15 17:25:13</string>
			<key>replyCount</key>
			<integer>468</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>皇马官方宣布与C罗续约5年</string>
			<key>url</key>
			<string>http://3g.163.com/sports/13/0915/17/98R3CO6P00051C8V.html</string>
			<key>url_3w</key>
			<string>http://sports.163.com/13/0915/17/98R3CO6P00051C8V.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>怒骂Kim是贪婪的美国人，玩弄中国媒体和法院。</string>
			<key>docid</key>
			<string>98R1F2LI00031H2L</string>
			<key>imgsrc</key>
			<string>http://img1.cache.netease.com/3g/2013/9/15/20130915170833e3171.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 19:21:42</string>
			<key>priority</key>
			<integer>80</integer>
			<key>ptime</key>
			<string>2013-09-15 16:51:32</string>
			<key>replyCount</key>
			<integer>657</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>李阳与前妻短信曝光 骂妻人渣</string>
			<key>url</key>
			<string>http://3g.163.com/ent/13/0915/16/98R1F2LI00031H2L.html</string>
			<key>url_3w</key>
			<string>http://ent.163.com/13/0915/16/98R1F2LI00031H2L.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>称百分百确定阿萨德政府发动了化武袭击，反对派无化武。</string>
			<key>docid</key>
			<string>98R15HCF00014AEE</string>
			<key>imgsrc</key>
			<string>http://img6.cache.netease.com/3g/2013/9/15/2013091517070420b7a.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 17:09:27</string>
			<key>priority</key>
			<integer>80</integer>
			<key>ptime</key>
			<string>2013-09-15 16:43:39</string>
			<key>replyCount</key>
			<integer>235</integer>
			<key>specialID</key>
			<string>S1321495791488</string>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>法外长访华:确定叙政府用化武</string>
			<key>url</key>
			<string>http://3g.163.com/news/13/0915/16/98R15HCF00014AEE.html</string>
			<key>url_3w</key>
			<string>http://news.163.com/13/0915/16/98R15HCF00014AEE.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>其中一名女生伤势严重，120已将伤者送医。</string>
			<key>docid</key>
			<string>98QTJMRE00963VRO</string>
			<key>imgsrc</key>
			<string>http://img3.cache.netease.com/3g/2013/9/15/201309151545499c7f2.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 18:59:11</string>
			<key>priority</key>
			<integer>80</integer>
			<key>ptime</key>
			<string>2013-09-15 15:44:09</string>
			<key>replyCount</key>
			<integer>627</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>西安3名游客遭旋转风车甩出</string>
			<key>url</key>
			<string>http://3g.163.com/ntes/13/0915/15/98QTJMRE00963VRO.html</string>
			<key>url_3w</key>
			<string>http://help.3g.163.com/13/0915/15/98QTJMRE00963VRO.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>律师:李天一遭布套设局;密友:李亚鹏败光王菲财产.</string>
			<key>docid</key>
			<string>98QOV09U00964JJM</string>
			<key>imgsrc</key>
			<string>http://img1.cache.netease.com/3g/2013/9/15/20130915150340a3327.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 15:20:47</string>
			<key>priority</key>
			<integer>80</integer>
			<key>ptime</key>
			<string>2013-09-15 14:22:57</string>
			<key>replyCount</key>
			<integer>1785</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>6分钟</string>
			<key>title</key>
			<string>今日之声</string>
			<key>url</key>
			<string>http://3g.163.com/ntes/13/0915/14/98QOV09U00964JJM.html</string>
			<key>url_3w</key>
			<string>http://help.3g.163.com/13/0915/14/98QOV09U00964JJM.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>梁朝伟和刘嘉玲日前高调秀恩爱引猜测，婚姻或告急。</string>
			<key>docid</key>
			<string>98R4Q7DA00963VRR</string>
			<key>imgsrc</key>
			<string>http://img5.cache.netease.com/3g/2013/9/15/2013091517505961489.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 18:30:54</string>
			<key>priority</key>
			<integer>79</integer>
			<key>ptime</key>
			<string>2013-09-15 17:50:03</string>
			<key>replyCount</key>
			<integer>685</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>传&quot;小三&quot;天后怀孕逼宫梁朝伟</string>
			<key>url</key>
			<string>http://3g.163.com/ntes/13/0915/17/98R4Q7DA00963VRR.html</string>
			<key>url_3w</key>
			<string>http://help.3g.163.com/13/0915/17/98R4Q7DA00963VRR.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>大绿鸭及7个蛋停展，园博园大黄鸭依然笑迎游客。</string>
			<key>docid</key>
			<string>98R4BL3M00963VRO</string>
			<key>imgsrc</key>
			<string>http://img3.cache.netease.com/3g/2013/9/15/201309151744509407f.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 18:07:09</string>
			<key>priority</key>
			<integer>79</integer>
			<key>ptime</key>
			<string>2013-09-15 17:42:05</string>
			<key>replyCount</key>
			<integer>109</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>北京大绿鸭遭暴风雨漏气卧倒</string>
			<key>url</key>
			<string>http://3g.163.com/ntes/13/0915/17/98R4BL3M00963VRO.html</string>
			<key>url_3w</key>
			<string>http://help.3g.163.com/13/0915/17/98R4BL3M00963VRO.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>班主任在课堂上将其手机收走，后交给家长。</string>
			<key>docid</key>
			<string>98R3PG7700963VRO</string>
			<key>imgsrc</key>
			<string>http://img3.cache.netease.com/3g/2013/9/14/2013091417200184636.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 17:49:00</string>
			<key>priority</key>
			<integer>79</integer>
			<key>ptime</key>
			<string>2013-09-15 17:32:11</string>
			<key>replyCount</key>
			<integer>877</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>高中生刺死老师案:玩手机被收</string>
			<key>url</key>
			<string>http://3g.163.com/ntes/13/0915/17/98R3PG7700963VRO.html</string>
			<key>url_3w</key>
			<string>http://help.3g.163.com/13/0915/17/98R3PG7700963VRO.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>小说《阴之道》以超现实的方式描述计划生育的受害者。</string>
			<key>docid</key>
			<string>98QTU21F00963VRO</string>
			<key>imgsrc</key>
			<string>http://img2.cache.netease.com/3g/2013/9/15/2013091515594004f8c.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 15:58:01</string>
			<key>priority</key>
			<integer>79</integer>
			<key>ptime</key>
			<string>2013-09-15 15:49:48</string>
			<key>replyCount</key>
			<integer>225</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>3分钟</string>
			<key>title</key>
			<string>读写客:被引产婴儿的灵魂旅程</string>
			<key>url</key>
			<string>http://3g.163.com/ntes/13/0915/15/98QTU21F00963VRO.html</string>
			<key>url_3w</key>
			<string>http://help.3g.163.com/13/0915/15/98QTU21F00963VRO.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>欢迎群众举报干部中秋、国庆期间公款送礼吃喝等行为。</string>
			<key>docid</key>
			<string>98QTLKC30001124J</string>
			<key>imgsrc</key>
			<string>http://img3.cache.netease.com/3g/2013/9/15/2013091515532466fbc.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 17:20:40</string>
			<key>priority</key>
			<integer>79</integer>
			<key>ptime</key>
			<string>2013-09-15 15:45:12</string>
			<key>replyCount</key>
			<integer>1285</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>中纪委公布公款送礼举报电话</string>
			<key>url</key>
			<string>http://3g.163.com/news/13/0915/15/98QTLKC30001124J.html</string>
			<key>url_3w</key>
			<string>http://news.163.com/13/0915/15/98QTLKC30001124J.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>多次帮人承揽工程，收受好处费118万元，已提出上诉。</string>
			<key>docid</key>
			<string>98R186300001124J</string>
			<key>imgsrc</key>
			<string>http://img5.cache.netease.com/3g/2013/9/15/201309151652569e5b1.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 16:49:21</string>
			<key>priority</key>
			<integer>78</integer>
			<key>ptime</key>
			<string>2013-09-15 16:47:46</string>
			<key>replyCount</key>
			<integer>145</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>3分钟</string>
			<key>title</key>
			<string>原京交管副局长受贿获刑14年</string>
			<key>url</key>
			<string>http://3g.163.com/news/13/0915/16/98R186300001124J.html</string>
			<key>url_3w</key>
			<string>http://news.163.com/13/0915/16/98R186300001124J.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>因对赔偿金额不满，这位50岁左右的女游客情绪十分激动。</string>
			<key>docid</key>
			<string>98QPAB0400011229</string>
			<key>imgsrc</key>
			<string>http://img4.cache.netease.com/3g/2013/9/15/2013091514311105fcf.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 14:48:06</string>
			<key>priority</key>
			<integer>78</integer>
			<key>ptime</key>
			<string>2013-09-15 14:29:08</string>
			<key>replyCount</key>
			<integer>485</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>2分钟</string>
			<key>title</key>
			<string>被扣邮轮上1名游客突发心脏病</string>
			<key>url</key>
			<string>http://3g.163.com/news/13/0915/14/98QPAB0400011229.html</string>
			<key>url_3w</key>
			<string>http://news.163.com/13/0915/14/98QPAB0400011229.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>收受煤老板2000余万元贿赂，被提起公诉。</string>
			<key>docid</key>
			<string>98R084GD0001124J</string>
			<key>imgsrc</key>
			<string>http://img5.cache.netease.com/3g/2013/9/15/2013091517022728f86.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 16:59:48</string>
			<key>priority</key>
			<integer>77</integer>
			<key>ptime</key>
			<string>2013-09-15 16:30:16</string>
			<key>replyCount</key>
			<integer>192</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>2分钟</string>
			<key>title</key>
			<string>原昆明铁路局长伙同情妇受贿</string>
			<key>url</key>
			<string>http://3g.163.com/news/13/0915/16/98R084GD0001124J.html</string>
			<key>url_3w</key>
			<string>http://news.163.com/13/0915/16/98R084GD0001124J.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>要求对方道歉，“兼职厂妹”报道引发女工强烈反弹。</string>
			<key>docid</key>
			<string>98R05KT900011229</string>
			<key>imgsrc</key>
			<string>http://img5.cache.netease.com/3g/2013/9/15/201309151636206859f.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 16:33:09</string>
			<key>priority</key>
			<integer>77</integer>
			<key>ptime</key>
			<string>2013-09-15 16:28:54</string>
			<key>replyCount</key>
			<integer>697</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>富士康女工联名抗议卖淫报道</string>
			<key>url</key>
			<string>http://3g.163.com/news/13/0915/16/98R05KT900011229.html</string>
			<key>url_3w</key>
			<string>http://news.163.com/13/0915/16/98R05KT900011229.html</string>
		</dict>
		<dict>
			<key>adTitle</key>
			<string>网易新闻有态度！</string>
			<key>digest</key>
			<string>14名工人送往医院救治，其中5名工人经抢救无效死亡。</string>
			<key>docid</key>
			<string>98QTM5G00001124J</string>
			<key>imgsrc</key>
			<string>http://img6.cache.netease.com/3g/2013/9/15/2013091516053334326.jpg</string>
			<key>lmodify</key>
			<string>2013-09-15 16:05:05</string>
			<key>priority</key>
			<integer>77</integer>
			<key>ptime</key>
			<string>2013-09-15 15:45:30</string>
			<key>replyCount</key>
			<integer>251</integer>
			<key>subtitle</key>
			<string></string>
			<key>timeConsuming</key>
			<string>1分钟</string>
			<key>title</key>
			<string>浙江一在建厂房坍塌致5人遇难</string>
			<key>url</key>
			<string>http://3g.163.com/news/13/0915/15/98QTM5G00001124J.html</string>
			<key>url_3w</key>
			<string>http://news.163.com/13/0915/15/98QTM5G00001124J.html</string>
		</dict>
	</array>
</dict>
</plist>
