<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>蓝牙</string>
			<key>hasSwitch</key>
			<true/>
			<key>switchValue</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
